<h1>¡Hola Mundo!</h1>
	       
<p>Como no podía ser de otra forma para un desarrollador, 
<strong>saludos al globo</strong>! desde aquí intentaré transmitir a diario mis 
experiencias a medida que me encuentre con la diaria y sus continuos retos.</p>

<h2>Sobre el sito</h2>
	       
<p>
Desarrollado en EmberJS, con Ember-cli como plataforma de desarrollo práctico,
pretendo tener algo propio y dinámico que pueda ir moldeando a mi gusto, a la vez
que me permita experimentar con alguna que otra cosa aprendida.
Inicialmente no le dedico mas de una semana de desarrollo, ya que actualmente me 
encuentro bastante ocupado entre mi trabajo habitual, y mis proyectos personales, 
por lo cual no es *la GRAN cosa*. <strong>Gracias </strong><i class="fa-github"></i> por
servir de almacenamiento para <i>este blog</i>, y cada uno de sus posts.
</p>

<blockquote><p>Stay HUNGRY. Stay FOOLISH.</p></blockquote>

<p>Frase con la que me gusta arrancar los todos los días, la inmortalizo en mi primer
post a modo de aliento para convertir este sitio en algo que me llene de satisfacciónes.</p>

<p><strong>Marcelo Mira</strong></p>
